@font-face {
	font-family: 'Fira Mono';
	src: url('fonts/Fira\ Mono/FiraMono.eot?#iefix') format('embedded-opentype'),
	url('fonts/Fira\ Mono/FiraMono.eot'),
	url('fonts/Fira\ Mono/FiraMono.woff') format('woff'), 
	url('fonts/Fira\ Mono/FiraMono.woff2') format('woff2'), 
	url('fonts/Fira\ Mono/FiraMono.ttf')  format('truetype'),
	url('fonts/Fira\ Mono/FiraMono.svg') format('svg');
}

@font-face {
	font-family: 'Minecraftia';
	src: url('fonts/Minecraftia/Minecraftia-Regular.eot?#iefix') format('embedded-opentype'),
	url('fonts/Minecraftia/Minecraftia-Regular.eot'),
	url('fonts/Minecraftia/Minecraftia-Regular.woff') format('woff'), 
	url('fonts/Minecraftia/Minecraftia-Regular.woff2') format('woff2'), 
	url('fonts/Minecraftia/Minecraftia-Regular.ttf')  format('truetype'),
	url('fonts/Minecraftia/Minecraftia-Regular.svg') format('svg');
}

@font-face {
	font-family: 'Montserrat';
	src: url('fonts/Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
	url('fonts/Montserrat/Montserrat-Regular.eot'),
	url('fonts/Montserrat/Montserrat-Regular.woff') format('woff'), 
	url('fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'), 
	url('fonts/Montserrat/Montserrat-Regular.ttf')  format('truetype'),
	url('fonts/Montserrat/Montserrat-Regular.svg') format('svg');
}