@import url('fonts.css');

/* ==========================================
    RESET & BASE STYLES
========================================== */

/* Colors and variables */
:root {
    --background-color: #202020;
    --text-color: #ffffff;
    --primary-color: #2b2b2b;
    --secondary-color: #363636;
    --font-primary: Minecraftia;
    --font-secondary: Montserrat;
    --font-mono: Fira Mono;
    --font-size-mini: 0.66em;
	--font-size-ascii: 12px;
    --font-size-smaller: 16px;
    --font-size-small: 17px;
    --font-size-medium: 18px;
    --font-size-content: 20px;
    --font-size-large: 34px;
    --shadow: rgba(0, 0, 0, 0.3);
    --link-color: #85888b;
    --link-hover-bg: rgb(78, 80, 82);
    --border-color: #696a6a;
}

/* Reset */
body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Base */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}




/* ==========================================
    MAIN LAYOUT STYLING
========================================== */

/* Main Box */
.container {
    position: relative;
    width: 1150px;
    height: 620px;
    padding: 20px;
    background-color: var(--primary-color);
    box-shadow: 0 0 10px var(--shadow);
}

.tab {
    border: none;
    background-color: transparent;
    width: 42px;
    height: 36px;
    cursor: pointer;
    color: #ffffff;
    font-size:  var(--font-size-small);
}

#tab-group {
    top: 0; 
    left: 0; 
    display: flex;
    justify-content: flex-start; 
    position: absolute; 
}

.tab.active {
    background-color: var(--secondary-color);
}

h1 {
    font-size: var(--font-size-small);
    font-weight: 300;   
    margin-bottom: 10px;
    margin-top: 25px;
}

#time-line {
    margin-top: 30px;
    margin-bottom: 30px;
    letter-spacing: 1.5px;
    word-spacing: 5px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}




/* ==========================================
    BOOKMARKS STYLING
========================================== */


.bookmark-list {
    list-style-type: none;
    padding-left: 0;
}

.sub-list {
    margin-left: 0px;
    list-style-type: none;
    width: 200px;
}

.folder {
    font-size: var(--font-size-smaller);
    margin-top: 5%;
    margin-bottom: 1.5%;
    width: 300px;
    letter-spacing: 1px;
    display: block;
    font-weight: bold;
    color: #c9c9c9;
    border-bottom: 1px solid var(--border-color);
    line-height: 1.1;
}

a {
    font-family: var(--font-mono);
    font-size: var(--font-size-medium);
    text-decoration: none;
    color: var(--link-color);
    transition: color 0.2s;
    display: block;
    padding: 4px;
}

a:hover {
    background-color: var(--link-hover-bg);
}

.columns {
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
}

.column {
    width: 50%;
}

#folder-2 {
    font-family: var(--font-primary);
    width: 250px;
    margin-bottom: 5%;
}




/* ==========================================
    NOTES STYLING
========================================== */

.note-buttons {
    bottom: 0; 
    right: 0; 
    display: flex;
    justify-content: flex-end; 
    position: absolute; 
}

#notes-button {
    border-right: 2px solid;
}

#add-button, #clear-button {
    font-size: var(--font-size-mini);
    height: 34px;
    width: 100px;
    font-family: var(--font-primary);
    background-color: var(--secondary-color);
    border: 2px solid #626364;
    transition: all ease-in-out 0.3s;
    padding-top: 7px;
    box-shadow: inset 1px 1px 0px #929293, inset -1px -1px 0px #000000;
    transition: all ease-in-out 0.3s;
}   

#add-button {
    border-right: none;
}

#add-button:hover, #clear-button:hover {
    background-color: var(--primary-color);
    box-shadow: inset -1px -1px 0px #929293, inset 1px 1px 0px #000000;
}

#notes-input {
    bottom: 0; 
    left: 0; 
    width: 90%;
    display: flex;
    height: 32px;
    padding-left: 10px;
    justify-content: flex-start; 
    position: absolute; 
    border: none;
    font-family: var(--font-secondary);
    background-color: var(--secondary-color);
    color: #ffffff;
    font-size: var(--font-size-medium);
    outline: none;
}

#notes-list {
    font-family: var(--font-secondary);
    font-size: var(--font-size-medium);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: left;
    width: 100%;
    top: 65%;
    left: 50%;
    max-height: 50%;
    height: 400px;
    overflow: auto;
    padding: 10px;
    scrollbar-color: transparent transparent;
}

.note {
    background-color: var(--secondary-color);
    color: #ffffff;
    padding: 10px;
    margin: 10px;
    width: calc(33.33% - 10px);
    min-width: 100px;
    box-sizing: border-box;
}

.note-content {
    font-size: var(--font-size-content);
    padding-bottom: 5px;
}

.note-date {
    font-family: var(--font-secondary);
    font-size: var(--font-size-medium);
    color: #bebebe;
    margin-top: 5px;
}




/* ==========================================
    CONVERSION STYLING
========================================== */

.conversion-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.conversion-box {
    padding: 15px;
    margin-top: -20px;
    border: 2px solid #363636;
    background-color: transparent;
}

.conversion-box h2 {
    margin: 0 0 10px 0;
    font-weight: 200;
    word-spacing: 5px;
    font-size: var(--font-size-smaller);
}

.currency, .unit-conversion-box {
    display: flex;
    align-items: center;
    background-color: transparent;
    gap: 10px;
}

#amount1, #unit-input, #amount2, #unit-result {
    border: 1px solid #868c92;
    color: #ffffff;
    padding: 10px;
    height: 20px;
    background-color: transparent;
    font-size: var(--font-size-smaller);
}

#amount1:focus, #unit-input:focus {
    border: 1px solid #a3be8c;
    outline: none;
}

#amount2, #unit-result{
    cursor: not-allowed;
}

select {
    background-color: #363636;
    border: 1px solid #868c92;
    color: #fff;
    padding: 10px;
    width: 124px;
    font-size: var(--font-size-smaller);
}

#rate-conv-info{
    margin-top: 15px;
    color: #a3be8c;
}

#to{
    margin-top: 10px;
    font-size: 14px;
}




/* ==========================================
    WEATHER WIDGET STYLES
========================================== */

.weather {
    font-family: var(--font-mono);
    font-size: var(--font-size-large);
    display: flex;
    flex-direction: column;
    margin-top: -25%;
    margin-left: 12.5%;
    align-items: left;
}

#weather-wrapper {
    display: flex;
    align-items: center;
}

#weather-icon, #weather-info, #weather-error {
    margin: 15px 10px;
}

#weather-error {
    line-height: 1.3em;
    width: 50%;
    margin-top: -2%;
    margin-left: -5%;
}

.sunny, .bolt {
    color: #EBCB8B;
}

.cloudy {
    color: #81A1C1;
}

.rainy {
    color: #5E81AC;
}

.snowy {
    color: #88C0D0;
}

.foggy {
    color: #4C566A;
}

.default {
    color: #c9c9c9;
}




/* ==========================================
    ASCII ART 
========================================== */

.ascii {
    font-family: var(--font-mono);
    font-size: var(--font-size-ascii);
    margin-top: 10px;
    margin-bottom: -10px;
    margin-left: -60px;
    text-align: center;
    font-weight: lighter;
    color: #c9c9c9;
}

#ascii-placeholder-2 {
    font-size: var(--font-size-mini);
    margin-left: 60%;
    margin-top: 10%;
}

#ascii-placeholder-4 {
    margin-right: 25%;
}