:root {
    --background-color: #1d2021;
    --text-color: #ffffff;
    --primary-color: #303233;
    --secondary-color: #494b4c;
    --font-primary: "Minecraftia", sans-serif;
    --font-secondary: "MS Sans Serif", sans-serif;
    --font-ascii: monospace;
	--font-size-ascii: 9px;
    --font-size-small: 12px;
    --font-size-medium: 14px;
    --shadow: rgba(0, 0, 0, 0.3);
    --link-color: #85888b;
    --link-hover-bg: rgb(78, 80, 82);
    --border-color: #696a6a;
}

body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.container {
    position: relative;
    width: 750px;
    height: 400px;
    padding: 20px;
    background-color: var(--primary-color);
    box-shadow: 0 0 10px var(--shadow);
}

.blur {
    width: 750px;
    height: 400px;
    padding: 20px;
    background-color: var(--primary-color);
    box-shadow: 0 0 10px var(--shadow);
}

.tab {
    border: none;
    background-color: transparent;
    width: 30px;
    height: 22px;
    cursor: pointer;
    color: #ffffff;
    font-size: 12px;
}

#left {
    top: 0; 
    left: 0; 
    display: flex;
    justify-content: flex-start; 
    position: absolute; 
}

.tab.active {
    background-color: var(--secondary-color);
}

.ascii {
    font-family: var(--font-ascii);
    font-size: var(--font-size-ascii);
    margin-top: -22px;
	margin-left: -60px;
    text-align: center;
    font-weight: lighter;
    color: #c9c9c9;
}

h1 {
    font-size: var(--font-size-small);
    margin-bottom: 20px;
    margin-top: 17px;
}

#time-line {
    margin-top: 0px;
    margin-bottom: 30px;
    letter-spacing: 1.5px;
    word-spacing: 5px;
}

.bookmark-list {
    list-style-type: none;
    padding-left: 0;
}

.folder {
    font-size: var(--font-size-small);
    margin-bottom: 1.5%;
    width: 200px;
    letter-spacing: 1px;
    display: block;
    font-weight: bold;
    color: #c9c9c9;
    border-bottom: 1px solid var(--border-color);
    line-height: 1.1;
}

.sub-list {
    margin-left: 0px;
    list-style-type: none;
    width: 200px;
}

a {
    font-family: var(--font-secondary);
    font-size: var(--font-size-medium);
    text-decoration: none;
    color: var(--link-color);
    transition: color 0.2s;
    display: block;
    padding: 2px;
}

a:hover {
    background-color: var(--link-hover-bg);
}

.columns {
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
}

.column {
    width: 50%;
}

.note-buttons{
    bottom: 0; 
    right: 0; 
    display: flex;
    justify-content: flex-end; 
    position: absolute; 
}

#button-br, #button-br2{
    font-size: 10px;
    width: 60px;
    font-family: var(--font-primary);
    background-color: var(--secondary-color);
    border: 2px solid #757779;
    transition: all ease-in-out 0.3s;
    padding-top: 3px;
}

#button-br {
    border-right: none;
}

#notes-button{
    border-right: 2px solid;
}

#button-br:hover, #button-br2:hover{
    background-color: var(--primary-color);
}

#notes-input{
    bottom: 0; 
    left: 0; 
    width: 90%;
    display: flex;
    height: 20px;
    justify-content: flex-start; 
    position: absolute; 
    border: none;
    font-family: var(--font-secondary);
    background-color: var(--secondary-color);
    color: #ffffff;
    font-size: 12px;
    outline: none;
}


#notes-list {
    font-family: var(--font-secondary);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: left;
    width: 100%;
    top: 65%;
    left: 50%;
    max-height: 50%;
    height: 400px;
    overflow: auto;
    padding: 10px;
    scrollbar-color: transparent transparent;
}

.note {
    background-color: var(--secondary-color);
    color: #ffffff;
    padding: 10px;
    margin: 10px;
    width: calc(33.33% - 10px);
    min-width: 100px;
    box-sizing: border-box;
}

.note-content {
    font-size: 12px;
}

.note-date {
    font-size: 10px;
    color: #bebebe;
    margin-top: 5px;
}

#curr-conv-info{
	margin-top: 0%;
	font-family: var(--font-primary);
	font-size: var(--font-size-small);
	letter-spacing: 1px;
	word-spacing: 5px;
}

#rate-conv-info{
	margin-top: 10px;
	font-family: var(--font-secondary);
	font-size: var(--font-size-small);
	letter-spacing: 1px;
}

.currency input{
	background-color: var(--secondary-color);
	height: 25px;
	color: var(--text-color);
    border: none;
}

.currency input:focus{
	outline: none;
}

.currency select{
	background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
	height: 27px;
	outline: none;
	border: none;
	color: #bebebe;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#ascii-placeholder-2{
    font-size: 6px;
    margin-left: 65%;
    margin-top: 13%;
}

#ascii-placeholder-3{
    margin-right: 25%;
}

#ascii-placeholder-4{
    margin-top: 1%;
}

.weather {
	font-family: var(--font-secondary);
	font-size: 24px;
    display: flex;
    flex-direction: column;
	margin-top: -23%;
	margin-left: 15%;
    align-items: left;
}

#weather-wrapper {
    display: flex;
    align-items: center;
}

#weather-icon, #weather-info, #weather-error {
    margin: 15px 10px;
}

#weather-error{
    line-height: 1.3em;
    width: 50%;
    margin-top: -2%;
    margin-left: -5%;
}