:root {
    --color-bg: #1E2021;
    --color-fg: #f7eac6;
    --color-link: #c9c9c9;
    --color-link-visited: #c9c9c9;
    --color-link-hover: #8ad1cf ;
}

html, body {
  background: var(--color-bg);
  color: var(--color-fg);
  font-family: "Inconsolata", monospace;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 460px 600px 1fr;
  grid-template-areas:
    ". left right .";
  column-gap: 60px;
  justify-items: left;
  align-items: center;
  min-height: 100%;
}

.left {
  grid-area: left;
  aspect-ratio: 1/1;
}

.right {
  grid-area: right;
  height: 40%;
  width: 100%;
  background-color: #1A1C1D;
  padding-bottom: 30px;
  padding-left: 15px;
}

.image img {
  padding-top: 100px;
  max-width: 80%;
  max-height: 80%;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 24px;
  font-size: 16px;
  padding-top: 60px;

}

.head2 {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 24px;
  font-size: 16px;
  padding-top: 15px;
}

.category {
  display: flex;
  flex-direction: column;
  width: 180px;
}

.bookmarks {
  display: flex;
  justify-content: center;
}

.search-form {
  width: 20rem;
  outline: none;
  border: none;
  background-color: #1a1c1d;
  color: #c9c9c9;
  font-size: 14px;
  padding-top: 10px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.title {
  font-size: 16px;
  padding-bottom: 7.5px;
  color: #adadad;

}

li {
  font-size:14px;
  list-style-type: none;
  padding: 5px;
}

a:link {
  text-decoration: none;
  color: var(--color-link);
}

a:visited {
  color: var(--color-link-visited);
}

a:hover {
  color: var(--color-link-hover);
}


@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
