@import url('fonts.css');

/* ==========================================
    RESET & BASE STYLES
========================================== */

/* Colors and variables */
:root {
    --background-color: #202020;
    --text-color: #ffffff;
    --primary-color: #2b2b2b;
    --secondary-color: #363636;
    --font-primary: Minecraftia;
    --font-secondary: Montserrat;
    --font-mono: Fira Mono;
    --font-size-mini: 0.66em;
	--font-size-ascii: 12px;
    --font-size-smaller: 16px;
    --font-size-small: 17px;
    --font-size-medium: 18px;
    --font-size-content: 20px;
    --font-size-large: 34px;
    --shadow: rgba(0, 0, 0, 0.3);
    --link-color: #85888b;
    --link-hover-bg: rgb(78, 80, 82);
    --border-color: #696a6a;
}

/* Reset */
body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Base */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}




/* ==========================================
    MAIN LAYOUT STYLING
========================================== */

/* Main Box */
.container {
    position: relative;
    width: 1150px;
    height: 620px;
    padding: 20px;
    background-color: var(--primary-color);
    box-shadow: 0 0 10px var(--shadow);
}

.tab {
    border: none;
    background-color: transparent;
    width: 42px;
    height: 36px;
    cursor: pointer;
    color: #ffffff;
    font-size:  var(--font-size-small);
}

#tab-group {
    top: 0; 
    left: 0; 
    display: flex;
    justify-content: flex-start; 
    position: absolute; 
}

.tab.active {
    background-color: var(--secondary-color);
}

h1 {
    font-size: var(--font-size-small);
    font-weight: 300;   
    margin-bottom: 10px;
    margin-top: 25px;
}

#time-line, #line {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    margin-bottom: -8px;
    letter-spacing: 1.5px;
    word-spacing: 5px;
}

#line {
    margin-bottom: 30px;
}

#clock, #temp {
    color: #c9c9c9;
    word-spacing: 0px;
    padding-right: 12px;
}

#temp {
    display: flex;
    gap: 4px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}




/* ==========================================
    BOOKMARKS STYLING
========================================== */


.bookmark-list {
    list-style-type: none;
    padding-left: 0;
}

.sub-list {
    margin-left: 0px;
    list-style-type: none;
    width: 200px;
}

.folder {
    font-size: var(--font-size-smaller);
    margin-top: 44px;
    margin-bottom: 8px;
    width: 300px;
    letter-spacing: 1px;
    display: block;
    font-weight: bold;
    color: #c9c9c9;
    border-bottom: 1px solid var(--border-color);
    line-height: 1.1;
}

a {
    font-family: var(--font-mono);
    font-size: var(--font-size-medium);
    text-decoration: none;
    color: var(--link-color);
    transition: color 0.2s;
    display: block;
    padding: 4px;
}

.columns {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 50%;
}




/* ==========================================
    CONVERSION STYLING
========================================== */

.conversion-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.conversion-box {
    padding: 15px;
    margin-top: -20px;
    border: 1px solid #434343;
    background-color: transparent;
}

.conversion-box h2 {
    margin: 0 0 10px 0;
    font-weight: 200;
    word-spacing: 5px;
    font-family: var(--font-secondary);
    font-size: var(--font-size-medium);
}

.currency, .unit-conversion-box {
    display: flex;
    align-items: center;
    background-color: transparent;
    gap: 10px;
}

#amount1, #unit-input, #amount2, #unit-result {
    border: 1px solid #868c92;
    color: #ffffff;
    padding: 10px;
    height: 20px;
    background-color: transparent;
    font-size: var(--font-size-smaller);
}

#amount1:focus, #unit-input:focus {
    border: 1px solid #a3be8c;
    outline: none;
}

select {
    background-color: #363636;
    border: 1px solid #868c92;
    color: #fff;
    padding: 10px;
    width: 124px;
    font-size: var(--font-size-smaller);
}

#rate-conv-info{
    margin-top: 15px;
    color: #a3be8c;
    word-spacing: 3px;
}

#to{
    margin-top: 10px;
    font-size: 14px;
}




/* ==========================================
    WEATHER WIDGET STYLES
========================================== */

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #b1b1b1;
    margin-left: 56px;
    gap: 42px;
}

.wrapper-top {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.weather {
    font-family: var(--font-primary);
    font-size: 24px;
    margin-top: 140px;
}

.stats {
    font-family: var(--font-mono);
    font-size: var(--font-size-content);
    color: #828586;
    margin-top: 140px;
    line-height: 32px;
}

#icon-wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 0px;
}

#weather-info {
    display: flex;
    padding-left: 20px;
    align-items: center;
}

#weather-temp {
    display: flex;
    flex-direction: row;
    font-style: normal;
    gap: 12px;
}

#weather-error {
    font-family: var(--font-secondary);
    font-size: var(--font-size-large);
    line-height: 1.3em;
    width: 50%;
}

#weather-forecast{
    display: flex;
    gap: 42px;
}

#forecast {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#forecast-days {
    font-family: var(--font-mono);
    font-size: 18px;
    padding-bottom: 10px;
}

#forecast-icon {
    padding: 10px;
}

#forecast-temp {
    font-size: 18px;
}

#night-temp {
    color: #6d7072;
}




/* ==========================================
    ASCII ART 
========================================== */

.ascii {
    font-family: var(--font-mono);
    font-size: var(--font-size-ascii);
    margin-top: 10px;
    margin-bottom: -10px;
    margin-left: -60px;
    text-align: center;
    font-weight: lighter;
    color: #c9c9c9;
}

#ascii-placeholder-3 {
    position: absolute;
    font-size: var(--font-size-mini);
    margin-left: 60%;
    margin-top: 10%;
}