@import url("tabs/tabs.css");


.tab-background,#urlbar-background, #searchbar, menupopup, .menupopup-arrowscrollbox{ 
  border-radius: 0 !important; 
}

:root {--arrowpanel-border-radius:0px !important;
}

:root .tabbrowser-tab[fadein]{ 
  max-width: 100vw !important 
}

#navigator-toolbox::after {
  border-bottom: 0px !important;
}  

.tabbrowser-tab {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#TabsToolbar {
  margin-top: -3px !important;
  margin-bottom: -5px !important
}

.tab-background[selected]{
  background: #1f2223 !important;
  box-shadow: none !important;
}

.tab-background{
  box-shadow: none !important;
}

#titlebar{
  -moz-box-ordinal-group: 2;
  --tabs-navbar-shadow-size: 0px;
  --uc-menubar-vertical-overlap: 19px; 
}

#navigator-toolbox > div{ 
  display: contents 
}

.global-notificationbox, #tab-notification-deck{ 
  -moz-box-ordinal-group: 2 
}

#TabsToolbar .titlebar-spacer{ 
  display: none; 
}

#navigator-toolbox::after{ 
  display: none !important; 
}

@media (-moz-gtk-csd-close-button){ .titlebar-button{ 
  -moz-box-orient: vertical 
} }

:root:not([chromehidden~="menubar"], [sizemode="fullscreen"]) #toolbar-menubar:not([autohide="true"]) {
  display: block !important;
}

#toolbar-menubar:not([autohide="true"]) > .titlebar-buttonbox-container {
  visibility: hidden;
}

.titlebar-buttonbox-container{display: none !important}

#alltabs-button {display: none !important;}

#urlbar, .searchbar-textbox {
  font-size: 13px !important;
  font-family: "Fira Code";
  font-weight: lighter;
}

#urlbar {
  text-align: left;
  padding-right: 38px
}

.tab-text, .tab-label {
  -moz-box-flex: 1 !important;
  text-align: left !important;
  padding-top: 6px !important;
  font-size: 12px  !important;
}

#urlbar-zoom-button { display: none !important; }

#PanelUI-button { margin-top: -5px; margin-bottom: 44px; }

#PanelUI-menu-button {
   padding: 0px !important;
   max-height: 1px;
   list-style-image: none !important;
}

#PanelUI-menu-button .toolbarbutton-icon { width: 1px !important; }
#PanelUI-menu-button .toolbarbutton-badge-stack { padding: 0px !important; }

#pageActionButton { display: none !important; }
#page-action-buttons { display: none !important; }

#reader-mode-button{ display: none !important; }

.tab-secondary-label { display: none !important; }

#urlbar-go-button { display: none !important; }

#identity-permission-box { display: none !important; } 

#tracking-protection-icon-container { display: none !important; }