:root {
  --color-bg: #1E2021;
  --color-fg: #c2cdde;
  --color-link: #8d9ebf;
  --color-link-visited: #8d9ebf;
  --color-link-hover: #8ad1cf ;
}

html, body {
background: var(--color-bg);
color: var(--color-fg);
font-family: "C&C RED ALERT [INET]";
height: 100%;
width: 100%;
margin: 0;
padding: 0;
}

.container {
display: grid;
grid-template-columns: 1fr 460px 600px 1fr;
grid-template-areas:
  ". left right .";
column-gap: 60px;
justify-items: left;
align-items: center;
min-height: 100%;
}

.left {
grid-area: left;
aspect-ratio: 1/1;
}

.right {
grid-area: right;
height: 40%;
width: 100%;
background-color: #3b4568;
border-radius: 4px;
padding-bottom: 30px;
padding-left: 15px;
}

.image img {
max-width: 121%;
margin-top: 67px;
border-width: 6px;
border-color: #3b4568;
border-style: groove;
border-radius: 6px;
}

.head {
display: flex;
flex-direction: column;
align-items: left;
padding-left: 24px;
font-size: 22px;
padding-top: 30px;

}

.head2 {
display: flex;
flex-direction: column;
align-items: left;
padding-left: 22px;
font-size: 22px;
padding-top: 20px;
}

input {
  caret-color: #3b4568;
 }

.category {
display: flex;
flex-direction: column;
width: 180px;
}

.bookmarks {
display: flex;
justify-content: center;
}

.search-form {
width: 33rem;
outline: none;
border: none;
background-color: #3b4568;
border-radius: 4px;
color: #8d9ebf;
font-family: "C&C RED ALERT [INET]";
padding-left: 5px;
font-size: 20px;
margin-top: 8px
}

.links {
display: flex;
flex-direction: column;
align-items: left;
padding-top: 0px;
padding-bottom: 10px;
padding-left: 20px;
}

.title {
font-size: 20px;
padding-bottom: 7.5px;
color: #65c359;

}

li {
font-size: 16px;
list-style-type: none;
padding: 5px;
}

a:link {
text-decoration: none;
color: var(--color-link);
}

a:visited {
color: var(--color-link-visited);
}

a:hover {
color: var(--color-link-hover);
}


@keyframes opacity {
0% {
  opacity: 1;
}

50% {
  opacity: 0;
}

100% {
  opacity: 1;
}
}
